@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/JobSearch/Content/assets/css/shop-main.css" rel="stylesheet" />
<div class="shop-header minimal-header"></div>
<div class="shop-main checkout">
    <div class="container ">
        <div data-ng-app="ngmodule">
            <div data-ng-controller="ngcontroller">
                <div class="fuelux">
                    <div id="checkout-wizard" class="wizard checkout-wizard">
                        <div class="searchbox center-block">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Search Jobs ..." data-ng-model="filterValue">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" data-ng-click="getFilteredData()"><i class="fa fa-search" ></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <table class="table shopping-cart-table">
                        <thead>
                            <tr>
                                <th>Job Description</th>
                                <th>Skills</th>
                                <th>Client</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="job in jobs">
                                <td class="item">
                                    <div class="media">
                                        <span class="media-left">
                                            {{job.location}}
                                        </span>
                                        <div class="media-body">
                                            <a href="#" class="product-title">{{job.jobtitle}}</a>
                                            <span class="brief-desc">{{job.job_description}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="unit-price">{{job.technicalskills}}</td>
                                <td class="total-price">{{job.client}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
