     <!-- NAVBAR -->
<nav class="navbar navbar-default navbar-dark" role="navigation">
    <div class="container">
        <!-- TOPBAR -->
        <div class="topbar">

            <ul class="list-inline top-nav">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    }
                }
                <li><a href="#">Help</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
        <!-- END TOPBAR -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle Navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <div style="float:left">

                <a href="/" class="navbar-brand navbar-logo navbar-logo-small">
                    @*<img src="~/content/assets/img/logo/repute-logo-nav.png" alt="Repute - Responsive Multipurpose Bootstrap Theme">*@
                    <img src="~/content/assets/ico/repute57x57.png" alt="Repute - Responsive Multipurpose Bootstrap Theme">
                </a>

            </div><div style="float:left"><h3 class="footer-heading">Job Portal</h3></div>

        </div>

        <!-- MAIN NAVIGATION -->
        <div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a href="/">HOME </a>
                </li>

                <li class="dropdown mega-menu">
                    <a href="#" data-toggle="dropdown">JOBS <span class="label label-danger label-main-nav">NEW</span> <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu mega-menu-container">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">

                                    <div class="col-md-3">
                                        <h5 class="menu-heading">Search &amp; Jobs</h5>
                                        <ul class="list-unstyled list-menu">
                                            <li><a href="#"><i class="fa fa-square"></i> Search Jobs</a></li>
                                            <li><a href="#"><i class="fa fa-clone"></i> Advanced Search</a></li>
                                            <li><a href="#"><i class="fa fa-asterisk"></i> All Jobs</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="menu-heading">Your Space</h5>
                                        <ul class="list-unstyled list-menu">
                                            <li><a href="#"><i class="fa fa-check-square"></i> Account Info</a></li>
                                            <li><a href="#"><i class="fa fa-check-circle"></i> Post Job</a></li>
                                            <li><a href="#"><i class="fa fa-check-circle"></i> Post Resume</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="menu-heading">Buttons &amp; Icons</h5>
                                        <ul class="list-unstyled list-menu">
                                            <li><a href="ui-buttons.html"><i class="fa fa-square"></i> General Buttons</a></li>
                                            <li><a href="ui-button-groups.html"><i class="fa fa-clone"></i> Button Groups</a></li>
                                            <li><a href="ui-icons.html"><i class="fa fa-asterisk"></i> Icons</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="menu-heading">Forms</h5>
                                        <ul class="list-unstyled list-menu">
                                            <li><a href="ui-form-elements-basic.html"><i class="fa fa-check-square"></i> Basic Form Elements</a></li>
                                            <li><a href="ui-form-elements-advanced.html"><i class="fa fa-plus-square"></i> Advanced Form Elements</a></li>
                                            <li><a href="ui-form-layouts.html"><i class="fa fa-columns"></i> Form Layouts</a></li>
                                            <li><a href="ui-form-validation.html"><i class="fa fa-check-circle"></i> Validation</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ACCOUNT <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu mega-menu-container">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">

                                    <div class="col-md-12">
                                        @if (Request.IsAuthenticated)
                                        {
                                            <ul class="list-unstyled list-menu">
                                                <li><a href="#"><i class="glyphicon glyphicon-log-in"></i> MyProfile</a></li>
                                                <li><a href="#"><i class="glyphicon glyphicon-user"></i> My Resume</a></li>
                                                <li><a href="#"><i class="glyphicon glyphicon-user"></i> Post Resume</a></li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul class="list-unstyled list-menu">
                                                <li><a href="~/account/login"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
                                                <li><a href="~/account/register"><i class="glyphicon glyphicon-user"></i> Register</a></li>

                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </li>

            </ul>
        </div>
        <!-- END MAIN NAVIGATION -->
    </div>
</nav>
<!-- END NAVBAR -->
<!-- BREADCRUMBS -->
<div class="page-header one-column has-background-image">
    <div class="container">
        <h1 class="page-title">WELCOME TO YOUR JOB SEARCH PORTAL</h1>

    </div>
</div>

<!-- END BREADCRUMBS -->